<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
    <div class="d-flex justify-content-center align-items-center" style="background-image:url('/Logos&&ServerSideImages/AddProduct.jpg'); background-size:cover " >
      
      <form action="" method="POST" enctype="multipart/form-data"  >
        <div>
            <h4 class="text-center" style="color:grey;margin-bottom:50px"> Add a New Product:</h4>
        <input  type="text" name="name"  placeholder="Enter Product's Name" class="form-control my-2" > 
        <input type="text" name="description" placeholder="Enter Product's Description" class="form-control my-4">
        <input type="text" name="price" placeholder="Enter Product's Price" class="form-control my-4" >
        
            <p  style="margin-top:-15px;font-size:13px">Choose An Appropriate Picture for Your Product (required) </p>
            <input style="margin-top:-15px" type="file" name="Avatar"  >
            <div class="d-flex my-3 justify-content-center">
                
            <input type="submit" class="btn btn-info"  >
        
            </div>
       
        
        </div>
       

      </form>
    </div>
</body>
</html>