<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
   
    <div  class="d-flex justify-content-center align-items-center "  style="background-image:url('/Logos&&ServerSideImages/E Commerce Background.jpg'); height:600px; background-size:cover">
      <h4 class="text-light">Welcome to our Shopping Website!</h4>
    </div>


</body>
</html>